@import 'reset.css';

body {
    display: flex;
    flex-direction: column;
    background-color: #000000;
    color: #F4F4F4;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 16px;
}

button {
    background-color: transparent;
    padding-block: 24px;
    padding-inline: 16px;
    border-radius: 2px solid #F4F4F4;
    border-radius: 24px;

    cursor: pointer;
}

button:hover{
    background-color: #1b1b1b;
}

footer {
    text-align: center;
    padding-block: 24px;
}